{% extends 'template.twig' %}


{% block style %}

{% endblock style %}


{% block header %}

{% endblock header %}

{% block main %}

<div class="formulaire">
    <form action="index.php" method="POST" id="formulaire">
        <div class="lieux">
            <img src="lieux.png" alt="image lieux">
            <h2 id="lieuxh2">
                Critères géographiques
            </h2>
            <div class="lieuxmenu">
                <label for="categorie_route">Catégorie de Route</label>
                <select name="cat_r" id="categorie_route">
                <option value="*">Toutes les routes</option>
                    {% for colonne in colonnes %}
                        {% for item in items %}
                            
                        {% endfor %}
                        <option value="{{ intersection }}">{{ intersection }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="usagers">
            <img src="lieux.png" alt="image usagers">
            <h2 id="lieuxh2">
                Critères usagers
            </h2>
        </div>
        <div class="vehicules">
            <img src="lieux.png" alt="image véhicules">
            <h2 id="lieuxh2">
                Critères véhicules
            </h2>
        </div>
        <input type="submit" value="envoyer">
    </form>
</div>

{% endblock main %}