.menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 100px;
}

#logo{
    grid-column-start: 1;
    grid-column-end: 4;
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center
}

#logo img{
    width: 120px;
    height: auto;
    min-width: 60px;
}

.send{
	display: flex;
	grid-column-start: 1;
	grid-column-end: 4;
}


@media(min-width: 768px){
	.menu{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 100px;
    }
    #logo{
        grid-column-end: 5;
    }

    .send{
        grid-column-end: initial;
        grid-column-start: initial;
    }
}

.navigation{
    width:100%;
    justify-content:space-around;
    align-items:center
}

.map{
    display: grid;
    grid-template-columns: 60% 30%;
    padding: 30px;
    justify-content:center;
    /* rgb(30, 67, 74) */
}

.map--image{
    grid-column:1;
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center
}

.map--list{
    grid-column:2;
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center;
}