
/******* HEADER ******/

.menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
}
#logo{
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.navigation{
    /* grid-column: 1/7;
    grid-row: 2; */
    width: 100%;
    grid-row-gap: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/******* BODY ******/

/* ==================== SECTION RESULTAT ==================================== */


/* ==================== SECTION DEPARTEMENTS ================================ */

.container_carte {
    display: grid;
    grid-template-columns: 50% 50%;
}

.map--image{
    grid-column: 1/2;
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.map--list{
    grid-column: 2/3;
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: center;
} 