/* modal */
.modal_chargement{
	position:absolute;
	background:rgba(0,0,0,0.3);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	display: none;
}

.chargement_inner{
	position: absolute;
	background: whitesmoke;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 20%;
	width: 20%;
}

.chargement_inner h2{
	display:block;
	margin-top: 15px;
	text-align: center;
	font-size: 1.5em;
	color: black;
	font-weight: 600;
}

.chargement_inner img{
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
}

/******* HEADER ******/
header{
    background-color: rgb(8, 61, 119);
	width: 99%;
	margin: 0.5% auto;
	border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
	font-size: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* ==================== NAVIGATION =============== */

.navigation {
    max-width: 100%;
	margin: 0 auto;
}

.menu {
	min-height: 70px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    
}

.navigation li {
	display: flex;
	justify-content: center;
	align-items:  center;
}

.navigation ul li a {
    display: flex;
	height: 50px;
	/* margin-top: 48px; */
	align-self: center;
	justify-content: center;
	/* border: solid 1px rgb(4, 39, 47); */
}

.boutonEnvoyer{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1em;
	display: block;
	margin: auto;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	background: rgb(8, 124, 167);
	color: white;
}

.boutonEnvoyer:hover{
	background: rgb(5, 178, 220);
	cursor:pointer;
}

/* Style Sous Menu */

.menu ul {
    position: absolute;
	list-style: none;
	width: 100%;
	border-radius: 5px;
	left: 0;
	color: white;
	background-color: rgb(5, 178, 220);
	padding-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 99%;
	left: 0.5%;
	margin-top: 0.5%;
	display: none;
}

.menu ul a {
	white-space: wrap;
	overflow: hidden;
}

.menuul li{
	display: block;
}

.menuicon img{
	transition: all 0.2s ease-in-out;
}

.menuicon:hover img{
	transform: scale(1.3);
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.row label{
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}
.row select{
	display: block;
	width: 100%;
	margin: 0 auto;
}

/* ============= TAGS ================ */

.tags{
	min-height: 40px;
	background-color:rgb(5, 178, 220);
	border-radius: 0 0 5px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tags p:nth-child(2n+0){
	background-color: rgb(0,166,0);
	/* background: #3772ff; */
}
.tags p:nth-child(2n+1){
	/* background: #c2a62b; */
	background-color: #ffb300;;
}
.tags p:nth-child(3){
	background: rgb(205, 32, 31);
}

.tag{
	padding: 10px 15px;
	border-radius: 5px;
	margin: 5px 5px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 90%;
	margin-bottom: 5px;
}

/******* BODY ******/
main{
	color: black;
	width: 100%;
    font-weight: 500;
    font-family: 'Roboto', serif;
    font-size: 1em;
}


/* =========== SECTION RESULTAT ============= */

.container_resultat{
	display: block;
	width: 99%;
	margin: 0 auto;
	border-radius: 5px;
	background: rgb(186, 241, 255);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 0.5%;
}

.resultat_inner{
	width: 100%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.resultat_inner div{
	display: flex;
	flex-wrap: wrap;
}

.nombre{
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	font-weight: 500;
	justify-content: center;
	align-items: center;
}

.total{
	display: block;
	font-size: 2em;
	padding-left: 10px; 
	padding-right: 10px;
}

/* .comments{
	text-align: center;
	background: #002B36;
	flex-direction: column;
	color: white;
}

.comments *{
	display: block;
	width: 80%;
	margin: 3% auto;
}

.comments h2{
	font-size: 1.4em;
}

.comments em{
	font-style: italic;
	margin-top: -2%;
	font-size: 0.8em;
}

.comments p{
	font-size: 1.2em;
} */

/* =========== SECTION DEPARTEMENTS ============ */


.map--image svg {
    width: 100%;
    height: 500px;
}

.map--image path{
	/* fill: rgb(151, 205, 226); */
	fill: lightgray;
    stroke: #FFF; /*Permet de séparer les départements*/
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map--image .is-active path{
    fill: rgb(6, 42, 56);
}



.map--list{
	height: 450px;
	overflow-y:scroll;
	scrollbar-color: rgb(6, 42, 56) lightgray;
	scrollbar-width: thin;
}


.map--list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.map--list::-webkit-scrollbar-track-piece  {
	background-color: lightgray;
	border-radius: 2px;
}

.map--list::-webkit-scrollbar-thumb:vertical {
    height: 30px;
	background-color: rgb(6, 42, 56);
	border-radius: 2px;
}





.map--list a{
	color:rgb(6, 42, 56);
	font-weight: 700;
    /* color: inherit; hérite de la couleur du parent */
    text-decoration: none;
    transition: color 0.3s;
}

.map--list a.is-active{
    color: rgb(151, 205, 226); 
    font-weight: bold;
    text-decoration: none;
}

@media(min-width: 576px){
	.tag{
		width: initial;
	}
	.menuul li{
		display: flex;
	}
	
	.row{
		width: 40%;
	}
}

@media(min-width: 768px){
	.resultat_inner{
		width: 80%;
	}
}


/* 

cerulean rgb(8, 124, 167);
cyan rgb(5, 178, 220);
foncé rgb(8, 61, 119); 

*/