html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	outline:none
}
input, textarea{
	box-sizing: border-box;
}
/***************************************/
/***************END OF RESET************/
/***************************************/

#formulaire{
	width: 100%;
	margin: auto;
	justify-content: space-around;
	padding: 10px;
}


#header{
	width: 100%;
	position: relative;
}

.lieux, .usagers, .vehicules{
	width: 100%;
	height: 200px;
	position: absolute;
}

.lieux a{
	display: block;
	width: 100%;
}

.usagers a{
	display: block;
	width: 100%;
} 

.vehicules a{
	display: block;
	width: 100%;
}

#lieuxmenu, #usagersmenu{
	display: none;
}

.smenu{
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.col1, .col2{
	width: 40%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.col1 label, .col2 label{
	display: flex;
	align-self: center;
	margin: 8px 0;
	width: 40%;
	height: auto;
}
.col1 select, .col2 select{
	width: 60%;
}

label{
	text-align: left;
}

.select{
	text-align: center;
}

*{
	background: rgba(0,0,0,0.1);
}