@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/* font-family: 'Permanent Marker', cursive; */ /**** LOGO*/

@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i');
/* font-family: 'Lora', serif; */ /**** TEXTE*/



/******* HEADER ******/
header{
    background-color: black;
    background-size: cover;
    width: 100%;
    color: white;
    font-weight: 400;
    font-family: 'Lora', serif;
    font-size: 1em;
}

/* ==================== NAVIGATION ====================== */

.navigation {
    max-width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
}

.navigation ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    
}

.navigation ul li {
    display: inline-block;
    position: relative;
}

.navigation ul li a {
    padding: 18px;
    text-transform:uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
}

.clearfix {
    clear: both;
}

/* Style Sous Menu */

.menu ul {
    position: absolute;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul a {
	white-space: wrap;
	overflow: hidden;

} 

.menu li:hover ul {
    background: linear-gradient(20deg, rgb(177, 172, 172) 10%, rgb(177, 171, 171) 30%, rgb(238, 235, 235) 50%, rgb(238, 235, 235) 80%, rgb(177, 172, 172) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 6px 6px;
	left: 5px;
	opacity: 1;
}


/******* BODY ******/
main{
	color: black;
	width: 100%;
    font-weight: 400;
    font-family: 'Lora', serif;
    font-size: 1em;
}

/* ==================== SECTION RESULTAT ==================================== */


/* ==================== SECTION DEPARTEMENTS ================================ */

.map{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.map--image {
    width: 60%;
    float: left;
}
.map--image svg {
    width: 100%;
    height: 650px;
}

.map--image path{
    fill: rgb(151, 205, 226);
    stroke: #FFF; /*Permet de séparer les départements*/
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map--image .is-active path{
    fill: rgb(6, 42, 56);
}


.map--list{
    float: right;
    width: 100px;
	height: 300px;
}

.map--list a{
    fill:rgb(6, 42, 56);
    /* color: inherit; hérite de la couleur du parent */
    text-decoration: none;
    transition: color 0.3s;
}

.map--list a.is-active{
    color: rgb(151, 205, 226); 
    font-weight: bold;
    text-decoration: underline;
}